@font-face {
    font-family: linowrite;
    src: url("../fonts/linowrite.ttf");
}
@font-face {
    font-family: bellerose;
    src: url("../fonts/Bellerose.ttf");
}
html {
	font-family: 'Fira Mono', 'Ubuntu Mono', monospace;
}

title {
	color:rgb(90, 88, 88);
}
body {
    font-family: 'Fira Mono', 'Ubuntu Mono', monospace;
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
	color:rgb(75, 155, 177);
	border: none;
	text-decoration: none;
}
a:hover {
	color:white;
	background:rgb(75, 155, 177);
	border: solid;
	border-color: rgb(75, 155, 177);
	border-radius: 3px;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}
.btn-outline-info  {
	color: rgb(75, 155, 177);
	background: white;
	border-color: rgb(75, 155, 177);
	border-style: solid;
}
.btn-outline-info:hover {
	color: white;
	background:  rgb(75, 155, 177);
}
/* Form styles */
/* #user-form {
	color: rgb(90, 88, 88);
	margin: 5px;
	border: rgb(90, 88, 88);
	border-style: solid;
	border-radius: 3px;
}
#user-form legend {
	border: rgb(90, 88, 88);
	border-style: solid;
	border-radius: 3px;
}
#user-form input {
	border: rgb(90, 88, 88);
	border-style: solid;
	border-radius: 3px;
} */
legend {
	font-size: 12pt;
}
/* Alerts styles */
/* .alert-success {
	color: rgb(51, 96, 51);
	background: rgb(124, 194, 124);
	border-radius: 3px;
	padding: 5px;
	margin-top: 5px;
}
.errorlist li {
	color: rgb(137, 65, 65);
	background: rgb(226, 116, 116);
	border-radius: 3px;
	padding: 5px;
	margin: 2px;
	list-style: none;
} */
/* Top Bar styles */
#topbar {
	clear:both;
	float:left;
	width:100%;
}
#topbar {
	border-bottom:1px solid rgb(90, 88, 88);
}
#topbar ul {
	clear:right;
	float:right;
	width:100%;
	list-style:none;
	margin:3px 20px 3px 3px;
	padding:0;
}
#topbar ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#topbar ul li a {
	display:block;
	float:right;
	padding:3px 10px;
	margin-right: 3px;
	text-align:center;
    background-color: white;
    border-style: solid;
	border-color: rgb(75, 155, 177);
	border-radius: 5px;
	color: rgb(75, 155, 177);
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#topbar a:hover {
	color:white;
	background:rgb(75, 155, 177);
	border-color: rgb(75, 155, 177);
	text-decoration:none;
}
#topbar ul li a span {
	display:block;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid rgb(90, 88, 88);
}
#header p,
#header h1,
#header h2 {
	color:rgb(90, 88, 88);
	padding:.4em 15px 0 15px;
	margin:0;
}
#header h1{
    text-align: center;
}
#header h2{
    font-size: 14pt;
    color:rgb(90, 88, 88);
    text-align: justify;
    padding: 0.5em;
    margin: 10px;
    border-style: dotted;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
    background-color:  rgb(75, 155, 177);
    border-style: ridge;
	border-color:  rgb(75, 155, 177);
	color:rgb(90, 88, 88);
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header a:hover {
	color:white;
	background: rgb(75, 155, 177);
	border-color:  rgb(75, 155, 177);
	text-decoration:none;
}
#header ul li a span {
	display:block;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid rgb(90, 88, 88);
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}
.leftmenu .colleft {
	right:75%;			/* right column width */
	background:#f4f4f4;	/* left column background colour */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Post styles */
.post {
    color: rgb(90, 88, 88);
    background-color: ghostwhite;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
	border-width: small;
	border-radius: 3px;
    border-color: rgb(90, 88, 88);
    font-size: 10pt;
}
.post h1 {
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
}
.post h2 {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
}
.post p,
.post ul {
    text-align: justify;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid rgb(90, 88, 88);
}
#footer p {
	padding:10px;
	margin:0;
}
/* Others */
.account {
	margin-top: 2%;
}





