@font-face {
    font-family: linowrite;
    src: url("../fonts/linowrite.ttf");
  }
  @font-face {
    font-family: bellerose;
    src: url("../fonts/Bellerose.ttf");
  }
  html, input, button, .ui-slider-handle {
  font-family: 'Fira Mono', 'Ubuntu Mono', monospace;
  }
  
  .colleft {
    margin: 2%;
  }
  
  .game_display {
    margin: 2%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .slider_container, .chart_container {
    padding: 2%;
    width: 50%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  /* Slider specific CSS */
  .slider_box {
    width: 50%;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: baseline;
  }

  .slider-label {
      margin: auto 10% auto 5%;
  }

  .slider {
      height: 100%;
  }

  #custom-handle-1, #custom-handle-2, #custom-handle-3 {
    width: 3em;
    height: 1.6em;
    left: -150%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  /* Chart.js specific CSS */
  #chart {
      width: 100%;
      height: 100%;
  }

   /* Option containers */
  .ui_option_container {
    display: flex;
    width: 100%;
  }

  .ui_option_col1 {
    display: flex;
    width: 15%;
    flex-wrap: wrap;
  }

  .ui_option_col2 {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }

   /* Button container */
  .button_container {
      width: 100%;
      height: 20%;
      margin: 1% 2% 1% 2%;
      display: flex;
      flex-wrap: nowrap;
  }
   button {
      margin: 3px;
   }
 
  /* Parameter container CSS */
  .parameter_container {
    margin: 1% 5% 1% 2%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  label {
    padding-top: 2px;
    font-size: 10pt;
    text-align: right;
}

  input {
    text-align: center;
  }

  /* Presets */
  .selector_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
  }

  .preset_container {
    width: 90%;
    justify-content: center;
  }

  #preset_selector-button {
    width: 90%;
  }

  .overflow { height: 200px; }

  .condition_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  /* Custom flexible table CSS */
  .flex_table {
      margin: 1% 5% 1% 2%;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
  }

  .flex_table_row {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .flex_table_head {
      font-weight: bold;
      background-color: cornflowerblue;
      border: 1px solid black;
  }

  .flex_table_cell {
    justify-content: center;
    align-items: center;
}

  .flex_table_cell, .flex_table_head {
    display: flex;
      height: 90%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 1px;
  }

  .coef_input {
    display: table-cell;
    height: 40%;
    width: 80%;
    border: none;
    padding: none;
    font-size: 10pt;
    text-align: center;
}